@import "~bootstrap/scss/bootstrap";
@import "base";
@import "buttons";
@import "layout";
@import "queries";
@import "themify-icons/themify-icons";

//import 'vue-toast-notification/dist/theme-default.css';
@import '~vue-toast-notification/dist/theme-sugar.css';


.v-toast--top {
    margin-left: 23vw;
    margin-top: 70px;
}

.logo-auth {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
}
